@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: Inter, sans-serif;
  --font-geist-mono: "JetBrains Mono", monospace;

  --surface: 248 250 252;
  --border: 226 232 240;
}

.dark {
  --surface: 9 9 11;
  --border: 39 39 42;
}

body {
  background-color: rgb(var(--surface));
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(var(--surface));
}

::-webkit-scrollbar-thumb {
  background: rgb(var(--border));
  border-radius: 4px;
}
